{% extends 'base.html' %}


{% block head %}
<title>Home</title>
    <style>
      form {
        margin: 0;
        max-width: 400px;
        justify-content: left;
        align-items: left;
      }
      input {
        font-size: 28px;
        margin-top: 20px;
      }
    </style>
{% endblock %}


{% block body %}
<h2>Home</h2>
<p>This is a flask based web app that uses the bootstrap framework to deal with visuals. The purpose of the app is to search through a data base using SQLite and display the data in a easy to read way.</p>
<h5>How to use</h5>
<div style="width: 50%;">
  <p>Click on the multisearch tab in the nav bar above to access the search page. You can search a spell/s by id, clas, etc... A spreedsheet that can be accessed in the nav bar above that contains all the spells available. Multiple queries can be done at once by seperating the searches with a "|" e.g. Bard|Cleric. 
    The search type dropdown can be used to do search for multiple types at once such as searching for a spell with the class Bard and duration of 1 minute using "Bard|1 minute" with class and duration selected in the search type dropdown.</p>
</div>

<img src="static/Dungeons&DragonsDice.png" alt="Dungeons and dragons dice" style="width: 20%;">
{% endblock %}