{% extends 'base.html' %}


{% block head %}
<title>Id Search</title>
<script>
$(document).ready(function(){
  $(".description").hide()
  $(".id").hide()

  $(".checkToggle").click(function(){
    $(".form-group").slideToggle(500);
  });

  $('.toggle').on('click', function(){
    var columnId = $(this).attr('data-columnid')
    if($(this).prop("checked") == true){
      $("."+columnId).show()
    }else{
      $("."+columnId).hide()
    }
  });
  

  
});
</script>
{% endblock %}


{% block body %}
  <h2>Id Search</h2>
  <p>Search the spell by id in spreedsheet that can be accessed in the nav bar above. Multiple id's can be searched at once by seperating the id's by "|" e.g. 4|32|5</p>

  <form action="#" method='POST'>
    <div class="input-group mb-3" style="width:300px;">
      <input name="id" id="ex2" type="text" class="form-control" placeholder="Enter id here" aria-label="Recipient's username" aria-describedby="button-addon2">
      <input class="btn btn-outline-secondary" type="submit" id="button-addon2">
    </div>
  </form>

  <h4>Output:</h4>
  <button class="checkToggle">Columns</button>
    <div class="form-group" style="display: none;">
      <label>Id</label> <input type="checkbox" class="toggle" data-columnid="id">
      <br>
      <label>Class</label> <input type="checkbox" class="toggle" data-columnid="class" checked="True">
      <br>
      <label>Level</label> <input type="checkbox" class="toggle" data-columnid="level" checked="True">
      <br>
      <label>Name</label> <input type="checkbox" class="toggle" data-columnid="name" checked="True">
      <br>
      <label>School</label> <input type="checkbox" class="toggle" data-columnid="school" checked="True">
      <br>
      <label>Casting time</label> <input type="checkbox" class="toggle" data-columnid="casting_time" checked="True">
      <br>
      <label>Range</label> <input type="checkbox" class="toggle" data-columnid="range" checked="True">
      <br>
      <label>Component</label> <input type="checkbox" class="toggle" data-columnid="component" checked="True">
      <br>
      <label>Duration</label> <input type="checkbox" class="toggle" data-columnid="duration" checked="True">
      <br>
      <label>Description</label> <input type="checkbox" class="toggle" data-columnid="description">
    </div>
<br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="id">Id</th>
          <th scope="col" class="class">Class</th>
          <th scope="col" class="level">Level</th>
          <th scope="col" class="name">Name</th>
          <th scope="col" class="school">School</th>
          <th scope="col" class="casting_time">Casting time</th>
          <th scope="col" class="range">Range</th>
          <th scope="col" class="component">Component</th>
          <th scope="col" class="duration">Duration</th>
          <th scope="col" class="description">Description</th>
        </tr>
      </thead>
      <tbody>
          {{info|safe}}
      </tbody>
    </table>
{% endblock %}