{% extends 'base.html' %}


{% block head %}
<title>Multi Search</title>
<script>
$(document).ready(function(){
  $(".description").hide()
  $(".id").hide()

  $(".checkToggle").click(function(){
    $(".form-group").slideToggle(500);
  });

  $('.toggle').on('click', function(){
    var columnId = $(this).attr('data-columnid')
    if($(this).prop("checked") == true){
      $("."+columnId).show()
    }else{
      $("."+columnId).hide()
    }
  });

  $("#min").change(function() {
    $("#max").attr('min',$("#min").val());

    if($("#max").val() < $("#min").val()){
      $("#max").attr('value',$("#min").val());
  }
  });
  
  

  
});
</script>
{% endblock %}


{% block body %}
  <h2>Multi Search</h2>
  <p>Search the spell by id, clas, etc... a spreedsheet that can be accessed in the nav bar above has information about the spells. Multiple queries can be done at once by seperating the searches with a "|" e.g. Bard|Cleric</p>
  <p>Keep in mind that this is case sensitive. E.g. "bard" will not work but "Bard" will</p>
  <form method='POST'>

    <label>Search type: </label>
    <select name="type" id="seachtype">
        <option value="id">id</option>
        <option value="name">name</option>
        <option value="class">class</option>
        <option value="school">school</option>
        <option value="casting_time">casting time</option>
        <option value="range">range</option>
        <option value="component">component</option>
        <option value="duration">duration</option>
      </select>

    <div>
      <label>Min level:</label>
      <input type="number" id="min" name="min" min="0" value="0"style="width: 50px;">
      <label>Max level:</label>
      <input type="number" id="max" name="max" value="10" style="width: 50px;">
    </div>

    <div class="input-group mb-3" style="min-width: 400px; max-width: 500px; width:40%px;">
      <input name="search" id="ex2" type="text" class="form-control" placeholder="Enter search here" aria-label="Recipient's username" aria-describedby="button-addon2">
      <input class="btn btn-outline-secondary" type="submit" id="button-addon2">
    </div>
  </form>



  <h4>Output:</h4>
  <button class="checkToggle btn btn-outline-secondary">Columns ▼</button>
    <div class="form-group" style="display: none;">
      <label>Id</label> <input type="checkbox" class="toggle" data-columnid="id">
      <br>
      <label>Class</label> <input type="checkbox" class="toggle" data-columnid="class" checked="True">
      <br>
      <label>Level</label> <input type="checkbox" class="toggle" data-columnid="level" checked="True">
      <br>
      <label>Name</label> <input type="checkbox" class="toggle" data-columnid="name" checked="True">
      <br>
      <label>School</label> <input type="checkbox" class="toggle" data-columnid="school" checked="True">
      <br>
      <label>Casting time</label> <input type="checkbox" class="toggle" data-columnid="casting_time" checked="True">
      <br>
      <label>Range</label> <input type="checkbox" class="toggle" data-columnid="range" checked="True">
      <br>
      <label>Component</label> <input type="checkbox" class="toggle" data-columnid="component" checked="True">
      <br>
      <label>Duration</label> <input type="checkbox" class="toggle" data-columnid="duration" checked="True">
      <br>
      <label>Description</label> <input type="checkbox" class="toggle" data-columnid="description">
    </div>
<br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="id">Id</th>
          <th scope="col" class="class">Class</th>
          <th scope="col" class="level">Level</th>
          <th scope="col" class="name">Name</th>
          <th scope="col" class="school">School</th>
          <th scope="col" class="casting_time">Casting time</th>
          <th scope="col" class="range">Range</th>
          <th scope="col" class="component">Component</th>
          <th scope="col" class="duration">Duration</th>
          <th scope="col" class="description">Description</th>
        </tr>
      </thead>
      <tbody>
          {{info|safe}}
      </tbody>
    </table>
{% endblock %}