{% extends 'base.html' %}


{% block head %}
<title>Multi Search</title>
<script>
$(document).ready(function(){
  
  //hides description and id columns
  $(".description").hide()
  $(".id").hide()


  //Toggles the columns tab
  $(".checkToggle").click(function(){
    $(".form-group").slideToggle(500);
  });


  //Hides and shows the columns depending on what checkbox has been checked/unchecked
  $('.toggle').on('click', function(){
    var columnId = $(this).attr('data-columnid')
    if($(this).prop("checked") == true){
      $("."+columnId).show()
    }else{
      $("."+columnId).hide()
    }
  });

  $('#minLvl').on('change', function() {
    var max = parseFloat($('#maxLvl').val());                                     
    var min = parseFloat($('#minLvl').val());
    if (min > max) {
        $('#maxLvl').val(min);
    }
    $('#maxLvl').attr('min',min)
});
  
});
</script>
{% endblock %}


{% block body %}
  <h2>Multi Search</h2>
  <div style="width: 50%;">
    <p>Search the spell by id, clas, etc... a spreedsheet that can be accessed in the nav bar above that contains all the spells. Multiple queries can be done at once by seperating the searches with a "|" e.g. Bard|Cleric. 
      The search type dropdown can be used to do search for multiple types at once such as searching for a spell with the class Bard and duration of 1 minute using "Bard|1 minute" with class and duration selected in the search type dropdown.</p>
  </div>
  
  <form action="#" method='POST'>

    <!--<label>Search type: </label> ----------------- this is the previous version of the programs type choices ------------
    <select name="type" id="seachtype">
        
        <option value="id">id</option>
        <option value="name">name</option>
        <option value="class">class</option>
        <option value="school">school</option>
        <option value="casting_time">casting time</option>
        <option value="range">range</option>
        <option value="components">components</option>
        <option value="duration">duration</option>
      </select>-->

      <div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Search types
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><input type="checkbox" name="id" checked="on"> <label>id </label></li>
          <li><input type="checkbox" name="name" checked="on"> <label>name </label></li>
          <li><input type="checkbox" name="class" checked="on"> <label>class </label></li>
          <li><input type="checkbox" name="school" checked="on"> <label>school </label></li>
          <li><input type="checkbox" name="casting_time" checked="on"> <label>casting time </label></li>
          <li><input type="checkbox" name="range" checked="on"> <label>range </label></li>
          <li><input type="checkbox" name="components" checked="on"> <label>components </label></li>
          <li><input type="checkbox" name="duration" checked="on"> <label>duration </label></li>
        </ul>
      </div>

      
    <div>
      <label>Min level:</label>
      <input type="number" id="minLvl" name="min" min="0" value="0"style="width: 50px;">
      <label>Max level:</label>
      <input type="number" id="maxLvl" name="max" min="0" value="10" style="width: 50px;">
    </div>

    <div class="input-group mb-3" style="min-width: 400px; max-width: 500px; width:40%px;">
      <input name="search" id="ex2" type="text" class="form-control" placeholder="Enter search here" aria-label="Recipient's username" aria-describedby="button-addon2">
      <input class="btn btn-outline-secondary" type="submit" id="button-addon2">
    </div>
  </form>



  <h4>Output:</h4>
  <button class="checkToggle btn btn-outline-secondary" style="display: inline;">Columns</button>

  <form action="/clear" style="display: inline;">
    <button class="btn btn-outline-secondary" type="submit">Clear Table</button>
  </form>


    <div class="form-group" style="display: none;">
      <input type="checkbox" class="toggle" data-columnid="id"> <label>Id</label> 
      <br>
      <input type="checkbox" class="toggle" data-columnid="class" checked="True"> <label>Class</label> 
      <br>
      <input type="checkbox" class="toggle" data-columnid="level" checked="True"> <label>Level</label> 
      <br>
      <input type="checkbox" class="toggle" data-columnid="name" checked="True"> <label>Name</label> 
      <br>
      <input type="checkbox" class="toggle" data-columnid="school" checked="True"> <label>School</label> 
      <br>
      <input type="checkbox" class="toggle" data-columnid="casting_time" checked="True"> <label>Casting time</label> 
      <br>
      <input type="checkbox" class="toggle" data-columnid="range" checked="True"> <label>Range</label> 
      <br>
      <input type="checkbox" class="toggle" data-columnid="component" checked="True"> <label>Component</label> 
      <br>
      <input type="checkbox" class="toggle" data-columnid="duration" checked="True"> <label>Duration</label> 
      <br>
      <input type="checkbox" class="toggle" data-columnid="description"> <label>Description</label> 
    </div>
    <br>
    <a>Results found: {{results_found}} spells</a>
<br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="id">Id</th>
          <th scope="col" class="class">Class</th>
          <th scope="col" class="level">Level</th>
          <th scope="col" class="name">Name</th>
          <th scope="col" class="school">School</th>
          <th scope="col" class="casting_time">Casting time</th>
          <th scope="col" class="range">Range</th>
          <th scope="col" class="component">Component</th>
          <th scope="col" class="duration">Duration</th>
          <th scope="col" class="description">Description</th>
        </tr>
      </thead>
      <tbody>
          {{info|safe}}
      </tbody>
    </table>
{% endblock %}